In [1]:
# importing the libraries
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
kpmg_df = pd.read_excel("kpmg.xlsx", sheet_name=None)

In [3]:
#customer demographic data with missing values
df1 = kpmg_df["CustomerDemographic"]

# transactions data wth missing values
df_trans = kpmg_df["Transactions"]

# New Customer List data with Missing values
df_cl= kpmg_df["NewCustomerList"]

#### Customer Demographic

In [4]:
df1.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [5]:
# the dimensionality of the data
df1.shape

(4000, 13)

In [6]:
# exploring the attributes of the columns present
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [7]:
df1.duplicated().sum()

0

In [8]:
# finding the percentage of missing values in each column
df1.isnull().sum()*100/ len(df1)

customer_id                             0.000
first_name                              0.000
last_name                               3.125
gender                                  0.000
past_3_years_bike_related_purchases     0.000
DOB                                     2.175
job_title                              12.650
job_industry_category                  16.400
wealth_segment                          0.000
deceased_indicator                      0.000
default                                 7.550
owns_car                                0.000
tenure                                  2.175
dtype: float64

In [9]:
# dropping the defaul column for it has little important to the dataset
df1.drop("default", axis = 1, inplace = True)

We create a dummy variable "Doe", that will fill in for the missing values in the last_name column

In [10]:
df1["last_name"] = df1["last_name"].fillna("Doe")

For the dob column, we'll first create an age column, from which we'll impute using the knn neighbour imputation technique

In [11]:
df2 = df1[df1.DOB.isnull()]

In [12]:
df2["age"] = np.nan

In [13]:
df2.drop("DOB", axis = 1, inplace = True)

In [14]:
df2.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,age
143,144,Jory,Barrabeale,U,71,Environmental Tech,IT,Mass Customer,N,No,NaN,NaN
167,168,Reggie,Broggetti,U,8,General Manager,IT,Affluent Customer,N,Yes,NaN,NaN
266,267,Edgar,Buckler,U,53,NaN,IT,High Net Worth,N,No,NaN,NaN
289,290,Giorgio,Kevane,U,42,Senior Sales Associate,IT,Mass Customer,N,No,NaN,NaN
450,451,Marlow,Flowerdew,U,37,Quality Control Specialist,IT,High Net Worth,N,No,NaN,NaN

In [15]:
df1 = df1[~df1["DOB"].isnull()]

In [16]:
from datetime import datetime

# Convert the date of birth column to datetime
df1['DOB'] = pd.to_datetime(df1['DOB'], errors='coerce') 

# Calculate today's date
today = datetime.now()

# Calculate age 
df1['age'] = ((today - df1['DOB']).dt.days // 365).astype("object")

In [17]:
df1.dtypes

customer_id                                     int64
first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                             object
owns_car                                       object
tenure                                        float64
age                                            object
dtype: object

In [18]:
# droppping the "DOB" column
df1.drop("DOB", axis = 1, inplace = True)

In [19]:
df2.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,age
143,144,Jory,Barrabeale,U,71,Environmental Tech,IT,Mass Customer,N,No,NaN,NaN
167,168,Reggie,Broggetti,U,8,General Manager,IT,Affluent Customer,N,Yes,NaN,NaN
266,267,Edgar,Buckler,U,53,NaN,IT,High Net Worth,N,No,NaN,NaN
289,290,Giorgio,Kevane,U,42,Senior Sales Associate,IT,Mass Customer,N,No,NaN,NaN
450,451,Marlow,Flowerdew,U,37,Quality Control Specialist,IT,High Net Worth,N,No,NaN,NaN

In [20]:
# setting the customer id as the index
df = pd.concat([df2,df1], axis=0)

df["age"] = df["age"].astype("Int64")

df.set_index("customer_id", inplace = True)

In [21]:
df.isnull().sum()*100/len(df)

first_name                              0.000
last_name                               0.000
gender                                  0.000
past_3_years_bike_related_purchases     0.000
job_title                              12.650
job_industry_category                  16.400
wealth_segment                          0.000
deceased_indicator                      0.000
owns_car                                0.000
tenure                                  2.175
age                                     2.175
dtype: float64

### Cleaning df

In [22]:
df.wealth_segment.unique()

array(['Mass Customer', 'Affluent Customer', 'High Net Worth'],
      dtype=object)

In [23]:
for column, dtype in df.dtypes.items():
    if dtype == "object" and "name" not in column:
        print(f"----The unique values of {column} column------")
        print(df[column].unique())
        print("-----------------------------------------------")

----The unique values of gender column------
['U' 'F' 'Male' 'Female' 'Femal' 'M']
-----------------------------------------------
----The unique values of job_title column------
['Environmental Tech' 'General Manager' nan 'Senior Sales Associate'
 'Quality Control Specialist' 'Assistant Professor' 'Research Nurse'
 'Registered Nurse' 'Tax Accountant' 'Social Worker' 'Staff Scientist'
 'Senior Financial Analyst' 'Senior Developer' 'Programmer I'
 'Structural Analysis Engineer' 'Recruiter' 'Office Assistant II'
 'Automation Specialist IV' 'Assistant Manager' 'Engineer I'
 'Food Chemist' 'Financial Analyst' 'Executive Secretary' 'Programmer II'
 'Office Assistant IV' 'Actuary' 'Computer Systems Analyst I'
 'Geologist IV' 'Budget/Accounting Analyst I' 'Research Associate'
 'Software Test Engineer IV' 'Staff Accountant II'
 'Software Test Engineer I' 'Civil Engineer' 'Accounting Assistant III'
 'Teacher' 'Internal Auditor' 'Account Executive' 'Web Designer II'
 'Accounting Assistant II' 'VP Accounting' 'Physical Therapy Assistant'
 'Legal Assistant' 'Project Manager'
 'Business Systems Development Analyst' 'Safety Technician II'
 'Technical Writer' 'Biostatistician I' 'Senior Editor'
 'Database Administrator III' 'Engineer IV' 'Engineer III'
 'VP Quality Control' 'Administrative Officer'
 'Analog Circuit Design manager' 'Structural Engineer'
 'Electrical Engineer' 'Recruiting Manager' 'Media Manager I'
 'Senior Quality Engineer' 'Nuclear Power Engineer' 'Developer I'
 'Junior Executive' 'Media Manager IV' 'Sales Associate' 'Professor'
 'Geological Engineer' 'Safety Technician I' 'Research Assistant I'
 'Editor' 'Safety Technician III' 'Staff Accountant III'
 'Product Engineer' 'Information Systems Manager' 'Senior Cost Accountant'
 'Assistant Media Planner' 'Payment Adjustment Coordinator'
 'Accountant III' 'Director of Sales' 'Biostatistician II'
 'Computer Systems Analyst II' 'Software Test Engineer II' 'Paralegal'
 'VP Sales' 'Chief Design Engineer' 'Office Assistant III'
 'Help Desk Operator' 'Web Developer II' 'VP Product Management'
 'Statistician II' 'Data Coordiator' 'Software Test Engineer III'
 'Analyst Programmer' 'Occupational Therapist' 'Speech Pathologist'
 'Software Engineer III' 'Community Outreach Specialist'
 'Safety Technician IV' 'Nurse Practicioner' 'Automation Specialist II'
 'Marketing Assistant' 'Marketing Manager' 'Budget/Accounting Analyst IV'
 'Associate Professor' 'Graphic Designer' 'Administrative Assistant II'
 'Compensation Analyst' 'Systems Administrator III' 'Financial Advisor'
 'Chemical Engineer' 'Web Designer I' 'Operator' 'Programmer Analyst III'
 'Quality Engineer' 'Cost Accountant' 'Librarian' 'Pharmacist'
 'Accountant I' 'Web Designer III' 'Geologist III' 'Web Developer III'
 'Programmer Analyst II' 'Design Engineer' 'Statistician I' 'VP Marketing'
 'Desktop Support Technician' 'Clinical Specialist'
 'Database Administrator IV' 'Systems Administrator II'
 'Account Coordinator' 'Programmer III' 'Administrative Assistant III'
 'Nurse' 'Dental Hygienist' 'Sales Representative'
 'Budget/Accounting Analyst III' 'Computer Systems Analyst IV'
 'Geologist I' 'Database Administrator II' 'Developer IV'
 'Database Administrator I' 'Environmental Specialist'
 'Account Representative IV' 'Statistician IV' 'Human Resources Manager'
 'GIS Technical Architect' 'Programmer IV' 'Accounting Assistant IV'
 'Software Engineer IV' 'Software Consultant' 'Biostatistician IV'
 'Help Desk Technician' 'Automation Specialist I' 'Developer III'
 'Human Resources Assistant I' 'Media Manager II' 'Statistician III'
 'Engineer II' 'Health Coach II' 'Developer II' 'Systems Administrator I'
 'Web Developer I' 'Software Engineer II' 'Accounting Assistant I'
 'Research Assistant II' 'Programmer Analyst IV' 'Health Coach I'
 'Accountant II' 'Automation Specialist III' 'Administrative Assistant I'
 'Health Coach IV' 'Media Manager III' 'Account Representative III'
 'Web Designer IV' 'Budget/Accounting Analyst II' 'Web Developer IV'
 'Biostatistician III' 'Research Assistant IV' 'Account Representative I'
 'Accountant IV' 'Human Resources Assistant IV'
 'Administrative Assistant IV' 'Office Assistant I'
 'Human Resources Assistant II' 'Mechanical Systems Engineer'
 'Health Coach III' 'Software Engineer I' 'Human Resources Assistant III'
 'Staff Accountant I' 'Computer Systems Analyst III' 'Geologist II'
 'Staff Accountant IV' 'Account Representative II' 'Programmer Analyst I'
 'Systems Administrator IV' 'Research Assistant III']
-----------------------------------------------
----The unique values of job_industry_category column------
['IT' 'Health' 'Financial Services' 'Manufacturing' 'Property' nan
 'Retail' 'Argiculture' 'Telecommunications' 'Entertainment']
-----------------------------------------------
----The unique values of wealth_segment column------
['Mass Customer' 'Affluent Customer' 'High Net Worth']
-----------------------------------------------
----The unique values of deceased_indicator column------
['N' 'Y']
-----------------------------------------------
----The unique values of owns_car column------
['No' 'Yes']
-----------------------------------------------

In [24]:
df.age.describe()

count    3913.000000
mean       45.719141
std        12.810942
min        21.000000
25%        36.000000
50%        46.000000
75%        55.000000
max       179.000000
Name: age, dtype: float64

In [25]:
df[df.age >= 100]

,first_name,last_name,gender,past_3_years_bike_related_purchases,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,age
customer_id,,,,,,,,,,,
34,Jephthah,Bachmann,U,59,Legal Assistant,IT,Affluent Customer,N,No,20.0,179

In [26]:
#dropping the above outlier
df = df.drop(34)

In [27]:
df.gender.replace("F", "Female", inplace = True) 
df.gender.replace("U", "Uknown", inplace = True) 
df.gender.replace("Femal", "Female", inplace = True) 
df.gender.replace("M", "Male", inplace = True) 

# replacing N and Y with Yes and No in the Deceased indicator column

df.deceased_indicator.replace("N", "No", inplace = True) 
df.deceased_indicator.replace("Y", "Yes", inplace = True)

In [28]:
# Defining your age intervals
age_intervals = [20, 35, 50, 65, 80, 95]

# Defining labels for the intervals
age_labels = ['A', 'B', 'C', 'D', 'E']

# creating age intervals
df['age'] = pd.cut(df['age'], bins=age_intervals, labels=age_labels, include_lowest=True)

### Label Encoding Caiegorical Data

In [29]:
df_pr = df.copy()

In [32]:
from sklearn.preprocessing import LabelEncoder

# Initializing the LabelEncoder
label_encoder = LabelEncoder()

# Iterate through the columns
for column, dtype in df.dtypes.items():
    if dtype == "object" and "name" not in column:
        # Initialize a placeholder inplace of missing values
        df_pr[column] = df_pr[column].fillna('missing')
        
        # Encode the column for non-missing values
        df_pr[column] = df_pr[column].apply(lambda x: label_encoder.fit_transform([x])[0] if x != 'missing' else pd.NA)

In [33]:
df_pr.isnull().sum()

first_name                               0
last_name                                0
gender                                   0
past_3_years_bike_related_purchases      0
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
age                                     87
dtype: int64

In [37]:
df_pr.head()

,gender,past_3_years_bike_related_purchases,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,age
customer_id,,,,,,,,,
144,0,71,0,0,0,0,0,NaN,NaN
168,0,8,0,0,0,0,0,NaN,NaN
267,0,53,<NA>,0,0,0,0,NaN,NaN
290,0,42,0,0,0,0,0,NaN,NaN
451,0,37,0,0,0,0,0,NaN,NaN

In [36]:
df_pr.drop(["first_name", "last_name"], axis = 1, inplace = True)

In [42]:
df_pr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3999 entries, 144 to 4000
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   gender                               3999 non-null   int64
 1   past_3_years_bike_related_purchases  3999 non-null   int64
 2   job_title                            3493 non-null   object
 3   job_industry_category                3343 non-null   object
 4   wealth_segment                       3999 non-null   int64
 5   deceased_indicator                   3999 non-null   int64
 6   owns_car                             3999 non-null   int64
 7   tenure                               3912 non-null   float64
 8   age                                  3912 non-null   category
dtypes: category(1), float64(1), int64(5), object(2)
memory usage: 285.3+ KB

In [ ]:
df.sample(9)

### Iterative Imputer Technique

In [35]:
# importing the imputation library
from sklearn.experimental import enable_iterative_imputer

# when wannting to use Iterative Imputer
from sklearn.impute import IterativeImputer

In [47]:
df_pr[cti] = df_pr[cti].apply(lambda x: np.nan if pd.isna(x) else x if not pd.isna(x) else x)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [43]:
# columns to impute
cti = ["job_title", "job_industry_category","age","tenure"]

# initiallizing the imputer
iter_imput = IterativeImputer(max_iter = 10, random_state = 0)
df_pr[cti] = iter_imput.fit_transform(df_pr[cti])

TypeError: float() argument must be a string or a number, not 'NAType'

Since tenure column contains continous variables we'll use the KNN Imputer method to impute the missing values

### KNN Imputer Technique

In [ ]:
#in the case of wanting to use the KNN Imputer
from sklearn.impute import KNNImputer

In [ ]:
# while using the knn imputer
knn_imput = KNNImputer(n_neighbours = )
knn_imput.fit_transform(X)